name: Bukmacher Bot Pro AKO

on:
  schedule:
    # Uruchomienia o 8:00, 12:00, 17:00 i 21:00 czasu UTC
    - cron: '0 8,12,17,21 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Pobierz kod
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Konfiguracja Pythona
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalacja bibliotek
        run: pip install requests

      - name: Uruchomienie bota
        env:
          T_TOKEN: ${{ secrets.T_TOKEN }}
          T_CHAT: ${{ secrets.T_CHAT }}
          ODDS_KEY: ${{ secrets.ODDS_KEY }}
          ODDS_KEY_2: ${{ secrets.ODDS_KEY_2 }}
          ODDS_KEY_3: ${{ secrets.ODDS_KEY_3 }}
          ODDS_KEY_4: ${{ secrets.ODDS_KEY_4 }}
          ODDS_KEY_5: ${{ secrets.ODDS_KEY_5 }}
        run: python start.py

      - name: Zapisanie zmian w bazie danych
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          
          # 1. Dodaj zmiany do poczekalni (kluczowe, aby uniknąć błędu 128)
          git add sent.json coupons.json || echo "Brak plików do dodania"
          
          # 2. Pobierz zmiany z serwera i połącz (rebase)
          git pull --rebase origin main
          
          # 3. Zatwierdź i wyślij na serwer (skip ci zapobiega pętli)
          git commit -m "Aktualizacja bazy typów i wyników [skip ci]" || echo "Brak zmian do zatwierdzenia"
          git push origin main
