name: Bukmacher Bot Pro - Cykl Godzinny

on:
  schedule:
    # Uruchomienie co godzinę od 06:00 UTC do 20:00 UTC
    # Zima w PL: 07:00 - 21:00 | Lato w PL: 08:00 - 22:00
    - cron: '0 6-20 * * *'
  
  workflow_dispatch: # Przycisk do ręcznego odpalenia bota

permissions:
  contents: write # Niezbędne do zapisywania plików sent.json i history.json

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Pobierz kod
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Konfiguracja Pythona
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalacja bibliotek
        run: pip install requests

      - name: Uruchomienie bota
        env:
          T_TOKEN: ${{ secrets.T_TOKEN }}
          T_CHAT: ${{ secrets.T_CHAT }}
          ODDS_KEY: ${{ secrets.ODDS_KEY }}
          ODDS_KEY_2: ${{ secrets.ODDS_KEY_2 }}
          ODDS_KEY_3: ${{ secrets.ODDS_KEY_3 }}
          ODDS_KEY_4: ${{ secrets.ODDS_KEY_4 }}
          ODDS_KEY_5: ${{ secrets.ODDS_KEY_5 }}
        run: python start.py

      - name: Zapisanie bazy i historii
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          
          # Dodawanie plików bazy danych
          touch sent.json history.json
          git add sent.json history.json
          
          # Zapisywanie zmian w repozytorium
          git commit -m "Aktualizacja bazy i wyników [skip ci]" || echo "Brak zmian"
          git pull --rebase origin main
          git push origin main
        continue-on-error: true
