name: Football-Bot-Smart-Radar

on:
  schedule:
    - cron: '0 */2 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    # Dodajemy uprawnienia do zapisu w repozytorium
    permissions:
      contents: write

    steps:
      - name: Pobieranie kodu
        uses: actions/checkout@v3

      - name: Konfiguracja Pythona
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalacja bibliotek
        run: pip install requests

      - name: Uruchomienie bota
        env:
          F_KEY: ${{ secrets.F_KEY }}
          T_TOKEN: ${{ secrets.T_TOKEN }}
          T_CHAT: ${{ secrets.T_CHAT }}
          GEMINI_KEY: ${{ secrets.GEMINI_KEY }}
          ODDS_KEY: ${{ secrets.ODDS_KEY }}
        run: python nazwa_twojego_pliku.py

      - name: Zapisz wysłane mecze (Pamięć bota)
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "actions@github.com"
          git add sent_matches.txt || true
          git commit -m "Aktualizacja bazy wysłanych meczów" || true
          git push || true
          
