name: Bukmacher Bot Pro - Przetrwanie 30 Dni

on:
  schedule:
    # System UTC: 6, 8, 10, 12, 14, 16, 18, 20, 22 (9 uruchomień)
    # Polska: 7, 9, 11, 13, 15, 17, 19, 21, 23
    # Zużycie: 9 skanów * 8 lig * 31 dni = 2232 kredyty (Limit: 2500)
    - cron: '0 6,8,10,12,14,16,18,20,22 * * *'
  
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Pobierz kod
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalacja
        run: pip install requests

      - name: Uruchomienie bota
        env:
          T_TOKEN: ${{ secrets.T_TOKEN }}
          T_CHAT: ${{ secrets.T_CHAT }}
          ODDS_KEY: ${{ secrets.ODDS_KEY }}
          ODDS_KEY_2: ${{ secrets.ODDS_KEY_2 }}
          ODDS_KEY_3: ${{ secrets.ODDS_KEY_3 }}
          ODDS_KEY_4: ${{ secrets.ODDS_KEY_4 }}
          ODDS_KEY_5: ${{ secrets.ODDS_KEY_5 }}  # <--- PIĄTY KLUCZ DODANY
        run: python start.py

      - name: Zapisanie bazy
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          
          touch sent.json
          
          git add sent.json
          git commit -m "Aktualizacja bazy [skip ci]" || echo "Brak zmian"
          git pull --rebase origin main
          git push origin main
        continue-on-error: true
