name: Multi-Sport-Radar-Full-Usage

on:
  schedule:
    # Uruchomienie 4 razy na dobę (co 6 godzin)
    # Wykorzystuje ok. 496/500 kredytów miesięcznie
    - cron: '0 0,6,12,18 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Pobieranie repozytorium
        uses: actions/checkout@v3

      - name: Konfiguracja Pythona
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalacja bibliotek
        run: pip install requests

      - name: Uruchomienie bota
        env:
          T_TOKEN: ${{ secrets.T_TOKEN }}
          T_CHAT: ${{ secrets.T_CHAT }}
          GEMINI_KEY: ${{ secrets.GEMINI_KEY }}
          ODDS_KEY: ${{ secrets.ODDS_KEY }}
        run: python start.py

      - name: Zapisz pamięć bota
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "actions@github.com"
          git add sent_matches.txt || true
          git commit -m "Update DB [Skip CI]" || true
          git push || true
